{% extends 'generic_form.html' %}

{% block title %}{% if object %}Edit Yearly Plan{% else %}New Yearly Plan{% endif %} - Project Tracker{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'yearlyplan-list' %}">Yearly Plans</a></li>
<li class="breadcrumb-item active">{% if object %}Edit{% else %}New{% endif %}</li>
{% endblock %}

{% block page_title %}{% if object %}Edit Yearly Plan{% else %}Create Yearly Plan{% endif %}{% endblock %}
